/* ======= RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* ======= VARIABLE ============================ */
:root {
  --header-height: 4.5rem;

  /* Colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* FONTS */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/* ======= BASE ============================ */

html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

#header {
  border-bottom: 1px solid #e4e4e4;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  overflow: hidden;
}

nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--title-color);
}

.logo span {
  color: var(--base-color);
}

.logo-alt span {
  color: var(--body-color);
}

.grid {
  display: grid;
  gap: 2rem;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
  display: block;
}

.icon-menu,
.icon-close {
  font-size: 1.5rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  margin-bottom: 1rem;
}

.text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: left;
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
  margin-top: 2rem;
}

.button:hover {
  background: var(--base-color-alt);
}

.divider-1,
.divider-2 {
  height: 1px;
  background: linear-gradient(270deg, hsla(var(--hue), 36%, 57%, 1), hsla(var(--hue), 65%, 88%, 0.34));
}

.divider-2 {
  background: linear-gradient(270deg, hsla(var(--hue), 65%, 88%, 0.34), hsla(var(--hue), 36%, 57%, 1));
}

#home .image,
#about .image {
  position: relative;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -16.7%;
  left: 16.7%;
  z-index: -1;
}

#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -8.3%;
  left: -33%;
  z-index: -1;
}

#home .image img,
#home .image::before,
#about .image img,
#about .image::before {
  border-radius: 0.25rem;
}

footer {
  background: var(--base-color);
}

footer.section {
  padding: 4rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

footer .social {
  grid-auto-flow: column;
  width: fit-content;
}

footer .social a {
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: translateY(-8px);
}

.back-to-top {
  background: var(--base-color);
  color: var(--text-color-light);
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  padding: 0.5rem;
  clip-path: circle();
  font-size: 1.5rem;
  line-height: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.section header,
#testimonials header {
  max-width: 32rem;
  text-align: start;
  margin-left: auto;
  margin-right: auto;
}

.button {
  height: 3.125rem;
}

/* navigation */
nav .menu {
  opacity: 0;
  visibility: hidden;
  display: none;
  top: 0;
  margin-left: auto;
}

nav .menu ul {
  display: flex;
  gap: 2rem;
}

nav .menu ul li a.title {
  font: 400 1rem var(--body-font);
  -webkit-font-smoothing: antialised;
}

nav ul li a.title.active {
  font-weight: bold;
  -webkit-font-smoothing: auto;
}

nav .icon-close {
  display: none;
}

/* layout */
main {
  margin-top: var(--header-height);
}

/* home */

#home .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

#home .image {
  order: 0;
}

#home .text {
  order: 1;
  max-width: 100%;
  width: 100%;
  text-align: center;
}

/* about */
#about .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

/* services */
.cards {
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  padding-left: 3rem;
  padding-right: 3rem;
}

/* testimonials */
#testimonials .container {
  margin-left: auto;
  margin-right: auto;
}

/* contact */
#contact .container {
  grid-auto-flow: column;
  align-items: center;
}

#contact .text {
  max-width: 25rem;
}

/* footer */
footer.section {
  padding: 3.75rem 0;
}

footer .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

footer .logo {
  font-size: 2.25rem;
}


/* large devices: 1023 > */
/* large devices: 992 > */
@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }

  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;

  }

  nav {
    padding: 0;
  }

  nav .icon-menu,
  nav .icon-close {
    display: none;
  }

  nav .menu {
    display: flex;
    opacity: 1;
    visibility: visible;
    position: static;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
  }

  #home .container {
    display: grid;
    grid-auto-flow: column;
    /* Aqui sim vira coluna no computador */
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
    /* Inverte a ordem no PC se necessário */
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
    /* Alinha à esquerda no PC, como na referência */
  }

  #about .container {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }
}

/* large devices: 767 > */